<section class="containerAbout">
  <h2 class="titleAbout">About</h2>
  <div class="containerCard">
    <div class="containerTitleAbout">
      <span class="titleCardAbout"></span>
    </div>
    <div class="containerAboutInfo">
      <div class="containerPersonalInfo">
        <h3 class="titlePE">Personal information: </h3>
        <ul>
          <li>
            <h4>Name and Surname: </h4>
            <p>Guillermo Leiva Altmirano</p>
          </li>
          <li>
            <h4>Birthdate: </h4>
            <p>November 13, 2000</p>
          </li>
          <li>
            <h4>Number: </h4>
            <p>3513326770</p>
          </li>
          <li>
            <h4>E-mail: </h4>
            <p>LGuille.2000@gmail.com</p>
          </li>
          <li>
            <h4>Location: </h4>
            <p>Cordoba, Argentina</p>
          </li>
        </ul>
      </div>
      <div class="containerPersonalInfo">
        <h3 class="titlePE">Education: </h3>
        <ul>
          <li>
            <h4>I.P.E.M 367: </h4>
            <h5>Tourism (2018)</h5>
            <p>- honor roll (2016 - 2018)</p>
            <p>- math olympics (2018)</p>
          </li>
          <li>
            <h4>CoderHouse: </h4>
            <p>Web developer</p>
          </li>
          <li>
            <h4>CoderHouse: </h4>
            <p>Programmer JS</p>
          </li>
          <li>
            <h4>CoderHouse: </h4>
            <p>React JS</p>
          </li>
          <li>
            <h4>CoderHouse: </h4>
            <p>Back-end</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
