<section class="containerSkills">
  <div><h2 class="containerTitleSkills">Skills</h2></div>
  <div class="containerCard">
    <ul class="ulSkills">
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/1051/1051328.png" alt="img html" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/732/732007.png" alt="img css" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968550.png" alt="img sass" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/1/1781.png" alt="img photoshop" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968593.png" alt="img adobe xd" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/460/460771.png" alt="img js" class="imgSkills"></li>
      <li class="liSkills"><img src="https://firebasestorage.googleapis.com/v0/b/web-guille-altamirano.appspot.com/o/skills%2Fpng-transparent-node-js-brands-icon-thumbnail.png?alt=media&token=a5c66e5d-e9db-4dd6-a205-131793758010" alt="img node" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/52/52040.png" alt="img git" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968566.png" alt="img ts" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/5815/5815809.png" alt="img sql" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn-icons-png.flaticon.com/512/9440/9440705.png" alt="img react" class="imgSkills"></li>
      <li class="liSkills"><img src="https://cdn.icon-icons.com/icons2/2389/PNG/512/angular_logo_icon_145496.png" alt="img angular" class="imgSkills"></li>
    </ul>
  </div>
</section>
